.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary-color);
}
.form input,
.form select {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}
.form button {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--bg-color);
  border: none;
  border-radius: 5px;
}
